#home(data-role='page')
  div(data-role='header')
    a.ui-btn-icon-left(data-icon='bars', href='#home_left_nav_panel') Menu
    h1 OnTransit

  div#home_left_nav_panel.left_nav_panel(data-role="panel")
    include ../widget/leftPanel.jade
  
  div(data-role="main" class="ui-content")
    p.instructions Crowdsourced real-time transit info.
    button#home_find_stops_button.ui-btn.ui-icon-location.ui-btn-icon-left Find Nearby Stops
    button#home_find_trips_button.ui-btn.ui-icon-star.ui-btn-icon-left Find Nearby Trips