#trip_details(data-role='page')
  div(data-role='header')
    a.ui-btn-icon-left(data-icon='bars', href='#trip_details_left_nav_panel') Menu
    h1 Trip Details

  div#trip_details_left_nav_panel.left_nav_panel(data-role='panel')
    include ../widget/leftPanel.jade

  .ui-content(data-role='main')
    h2#trip_details_trip_delay
    ul#trip_details_stop_list(data-role='listview')

  div(data-role="footer" data-position="fixed")
    #trip_details_delay_container
      p#trip_details_delay
      p#trip_details_delay_details
    div(data-role="navbar")
      ul
        li
          a#trip_details_footer_refresh(data-icon="refresh") Refresh
        li
          a#trip_details_footer_feedback(data-icon="comment") Send Feedback

  #trip_details_problem(data-role='popup' data-dismissable='false')
    .ui-content
      p#trip_details_error_message
      a.ui-btn.ui-corner-all.ui-shadow.ui-btn-inline(data-rel='back') OK

  #trip_details_feedback(data-role='popup' data-dismissable='false')
    .ui-content
      p Select the type of feedback you want to submit:
      a#trip_details_feedback_agency_button.ui-btn.ui-icon-bus.ui-btn-icon-left Transit Service Feedback
      a#trip_details_feedback_app_button.ui-btn.ui-icon-screen.ui-btn-icon-left App Feedback