#find_vehicle(data-role="page")
  div(data-role="header")
    a.ui-btn-icon-left(data-icon='bars', href='#find_vehicle_left_nav_panel') Menu
    h1 OnTransit

  div#find_vehicle_left_nav_panel.left_nav_panel(data-role="panel")
    include ../widget/leftPanel.jade

  .ui-content(data-role="main")
    h2 Find Vehicles
    p(id="vehicles_progress") Finding vehicles...