script#nearbyStopListItemTemplate(type='text/tempalte')
  li(class="nearby_stop_list_item" id='stop_list_item_{{idx}}')
    a
      h2 {{headsign}}
      p #[b Scheduled: ] {{scheduledTime}} #[b Actual: ] {{actualTime}}