script#tripListItemTemplate(type='text/tempalte')
  +each('trips')
    li.trip_list_item(id='trip_list_item_{{id}}')
      a
        h2 {{trip_headsign}}
        p {{timing}}
        p Distance: {{distance}} feet