/************************
 *  Globals
 ************************/

.page_wide_header
  margin 0em -1em
  background #e9e9e9
  border 1px solid #ddd

  & h2
    font-size 1.1em
    line-height 2em
    text-align center
    font-weight bold

.confirm_main_point
  line-height 1.2em
  font-size 1.1em

.confirm_tldr
  line-height 0.9em
  font-size 0.8em

.instructions
  margin 0.7em 0

/************************
 *  Icons
 ************************/

.ui-icon-bus:after
  background-image url("assets/bus_icon.png")
  background-size 18px 18px

.ui-icon-screen:after
  background-image url("assets/phone_icon.png")
  background-size 18px 18px

 /************************
 *  Left Nav Panel
 ************************/

.left_nav_panel .ui-header
  margin -1em -1em 0 -1em

  & .ui-title
    margin 0 10%

.left_nav_panel .ui-listview
  margin-top 0