div(data-role='header')
  h2 OnTransit Navigation
ul(data-role="listview")
  li.left_nav_home
    a Home
  li.left_nav_nearby_stops
    a Nearby Stops
  li.left_nav_find_trips
    a Find Trips
  li.left_nav_feedback
    a Feedback
  li.left_nav_about
    a About