#home(data-role='page')
  div(data-role='header')
    h1 OnTransit
  
  div(data-role="main" class="ui-content" style="font-size:large")
    h1 Welcome to OnTransit
    p This is a demo app for finding the delay of a transit trip based on your position.
    p Click the button below to find transit vehicles near you.
    button.ui-btn(id="find_vehicles") Find Vehicles