mixin if(name)
  != '{{#' + name + '}}'
  block
  != '{{/' + name + '}}'

mixin unless(name)
  != '{{^' + name + '}}'
  block
  != '{{/' + name + '}}'

mixin each(name)
  != '{{#' + name + '}}'
  block
  != '{{/' + name + '}}'

doctype html
html(lang="en")
  head
    title=OnTransit
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(type="text/javascript").
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    script(src='main.js')
    link(rel="stylesheet" href="main.css")
  body
    include page/home.jade
    include page/nearbyStops.jade
    include page/findTrips.jade
    include page/tripDetails.jade
    include page/feedback.jade

    include template/nearbyStopListItem.jade
    include template/tripListItem.jade
    include template/tripStopListItem.jade