doctype html
html(lang="en")
  head
    title=OnTransit
    script(src='main.js')
    link(rel="stylesheet" href="main.css")
  body
    include page/home.jade
    include page/vehicles.jade
    //
      include page/tripStops.jade
      include page/feedback.jade