#find_vehicle(data-role="page")
  div(data-role="header")
    h1 OnTransit

  .ui-content(data-role="main" style="font-size:large")
    h2 Find Vehicles
    p(id="vehicles_progress") Finding vehicles...